
/* Stile per welcome.fxml */

.welcomeBackground{
  -fx-background-image: url("../imgs/backgrounds/welcome.jpg");
  -fx-background-repeat: stretch;
  -fx-background-position: center center;
  -fx-background-size: 100% 100%;

  -fx-font-family: "Comic Sans MS";
}

.playButton{
  -fx-background-image: url("../imgs/textBox/button-play-normal.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
  -fx-background-color: transparent;
}

.setupBackground{
  -fx-background-image: url("../imgs/backgrounds/setup.jpg");
  -fx-background-repeat: stretch;
  -fx-background-position: center center;
  -fx-background-size: 100% 100%;
  -fx-font-family: "Comic Sans MS";
}

.setupCenter{
  -fx-alignment: center;
  -fx-hgap: 20;
  -fx-font-size: 20;
}

.setupButton{
  -fx-alignment: center;
  -fx-font-size: 20;
  -fx-border-insets: 3px;

  -fx-background-color: white;
  -fx-border-color: black;
  -fx-text-inner-color: black;
  -fx-text-fill: -fx-text-inner-color;
  -fx-text-alignment: center;
}

.showDeckCenter{
  -fx-padding: 10;
  -fx-hgap: 8;
  -fx-vgap: 8;
}

.godInfo{
  -fx-background-repeat: stretch;
  -fx-background-position: center center;
  -fx-background-size: 100% 100%;
}

.cliff{
  -fx-background-image: url("../imgs/cliff/SantoriniBoard.png");
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
}

.nextButton{
  -fx-background-image: url("../imgs/textBox/SetUp/next.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
  -fx-background-color: transparent;
}

.IpAddressLabel{
  -fx-background-image: url("../imgs/textBox/SetUp/IpAddress.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
}

.LobbySizeLabel{
  -fx-background-image: url("../imgs/textBox/SetUp/lobbysize.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
}

.UsernameLabel{
  -fx-background-image: url("../imgs/textBox/SetUp/Username.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
}

.PickGodLabel{
  -fx-background-image: url("../imgs/textBox/SetUp/PickGod.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
}

.SelectGodLabel{
  -fx-background-image: url("../imgs/textBox/GamePhase2/SelectGods.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
}

.WaitingLabel{
  -fx-background-image: url("../imgs/textBox/SetUp/waiting.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
}

.PowerButton{
  -fx-background-image: url("../imgs/textBox/GamePhase2/ActivatePower.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
  -fx-background-color: transparent;
}




/* #########
    GODS */

.Apollo{
  -fx-background-image: url("../imgs/godsGraphics/apollo.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
  -fx-background-color: transparent;
}

.Artemis{
  -fx-background-image: url("../imgs/godsGraphics/artemis.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
  -fx-background-color: transparent;
}

.Athena{
  -fx-background-image: url("../imgs/godsGraphics/athena.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
  -fx-background-color: transparent;
}

.Atlas{
  -fx-background-image: url("../imgs/godsGraphics/atlas.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
  -fx-background-color: transparent;
}

.Chronus{
  -fx-background-image: url("../imgs/godsGraphics/chronus.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
  -fx-background-color: transparent;
}

.Demeter{
  -fx-background-image: url("../imgs/godsGraphics/demeter.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
  -fx-background-color: transparent;
}

.Hephaestus{
  -fx-background-image: url("../imgs/godsGraphics/hephaestus.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
  -fx-background-color: transparent;
}

.Hera{
  -fx-background-image: url("../imgs/godsGraphics/hera.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
  -fx-background-color: transparent;
}

.Hestia{
  -fx-background-image: url("../imgs/godsGraphics/hestia.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
  -fx-background-color: transparent;
}

.Minotaur{
  -fx-background-image: url("../imgs/godsGraphics/minotaur.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
  -fx-background-color: transparent;
}

.Pan{
  -fx-background-image: url("../imgs/godsGraphics/pan.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
  -fx-background-color: transparent;
}

.Prometheus{
  -fx-background-image: url("../imgs/godsGraphics/prometheus.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
  -fx-background-color: transparent;
}

.Triton{
  -fx-background-image: url("../imgs/godsGraphics/triton.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
  -fx-background-color: transparent;
}

.Zeus{
  -fx-background-image: url("../imgs/godsGraphics/zeus.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
  -fx-background-color: transparent;
}

/* #########
    GAME PHASE */

.PlaceWorker{
  -fx-background-image: url("../imgs/textBox/GamePhase/placeWorkers.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
  -fx-background-color: transparent;
}

.SelectWorker{
  -fx-background-image: url("../imgs/textBox/GamePhase/selectWorker.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
  -fx-background-color: transparent;
}

.MoveWorker{
  -fx-background-image: url("../imgs/textBox/GamePhase/moveWorker.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
  -fx-background-color: transparent;
}

.BuildWorker{
  -fx-background-image: url("../imgs/textBox/GamePhase/build.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
  -fx-background-color: transparent;
}

.NotYourTurn{
  -fx-background-image: url("../imgs/textBox/GamePhase/notYourTurn.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
  -fx-background-color: transparent;
}

.MultipleAction{
  -fx-background-image: url("../imgs/textBox/GamePhase/gameState.png");
  -fx-border-insets: 3px;
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
  -fx-background-color: transparent;
}




.PlayerLabel{
  -fx-font-family: "Comic Sans MS";
  -fx-font-size: 40;
}




